<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
 <h3>Hi <%= @user.first_name %> <%= @user.last_name %></h3>
   <p>Please notice that you just created an account for our MarketPlace API site</p>
   <p>
     Enjoy !
   </p>
  </body>
</html>
